.app-container {
    background-image: url(/svg/stars-background-home.svg);
}

/* website left and right margins */
.content {
    background-color: $super-black;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

/* used purely for troubleshooting purposes */
.highlight {
    background-color: $accent-light-yellow;
}

/* general use classes */
.bold {
    font-weight: bold;
}

.lobster-italic {
    font-style: italic;
    font-family: Lobster;
}

/* admin panel header that goes above tables */
.admin-panel-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: auto;

    a {
        border: 2px solid $super-white;
        font-size: 1.2em;
        min-width: 180px;
        padding: 10px;
        text-align: center;
        width: 30%
    }

    a:hover {
        background-color: $super-white;
        color: $super-black;
        font-weight: bold;
    }
}

/* styling for tables with dropdowns
 * NOTE: class names tied to tables.js, do not
 * change.
 * ***/
.general-table {
    border-collapse: collapse;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;

    caption {
        color: $super-black;
        cursor: default;
    }

    thead {
        color: $super-dark-red;
        font-style: italic;
        font-family: Lobster;
        padding: 5px;
    }

    tbody {
        width: 100%;

        .bottom-border {
           border-bottom: 1px solid $accent-dark-green; 
        }

        td {
            padding: 5px;
        }

        .hidden {
            display: none;
        }

        .action-container-title {
            margin: 0px;
            padding-right: 10px;
            text-align: right;
        }

        .action-container {
            display: flex;
            justify-content: end;
            flex-wrap: wrap;
            padding-right: 10px;

            .action-button {
                background-color: $accent-blue;
                border: none;
                color: $super-white;
                cursor: pointer;
                display: block;
                font-size: 1.0rem;
                font-style: normal;
                font-weight: bold;
                margin: 2px;
                padding: 4px;
                padding-left: 6px;
                padding-right: 6px;
                text-align: center;
                text-transform: uppercase;
            }

            .delete-button {
                background-color: $super-red;
            }

        }
        
        .tag-container-title {
            margin: 0px;
            padding-right: 10px;
        }

        .tag-container {
            display: flex;
            justify-content: start;
            flex-wrap: wrap;

            .tag-button {
                background-color: $super-red;
                border: none;
                color: $super-white;
                cursor: auto;
                display: block;
                font-size: 1.0rem;
                font-style: normal;
                font-weight: bold;
                margin: 2px;
                padding: 4px;
                padding-left: 6px;
                padding-right: 6px;
                text-align: center;
                text-transform: uppercase;

                a:hover {
                    color: $super-black;
                }
            }

        }

        .goto-resource {
            border-bottom: 5px solid $super-red;
            display: block;
            line-height: 1;
            text-transform: uppercase;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
    

    .first-col {
        text-align: left;;
        width: 75%;
        padding: 5px;

        p {
            padding: 0px;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }

    .second-col {
        text-align: center;
        width: 50%;
    }

    /* Class name has tables.js dependency. */
    .expand-col {
        text-align: center;
        transform: rotate(0deg);
        transition: 0.2s;
        width: 10%;
    }

    /* Class name has tables.js dependency. */
    .active-expand-col {
        transform: rotate(-45deg);
        transition: 0.2s;
    }

    .expand-button {
        background-color: transparent;
        border: none;
        color: $super-white;
        cursor: pointer;
        font-size: 2em;
        font-weight: bold;
        padding-bottom: 8px;
        text-align: right;
        transition: 0.2s;
        user-select: none;
    }
}

// OLD CSS - TO DELETE
.admin-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px;

    .title {
        display: block;
        width: 100%;
        text-align: center;
    }

    label {
        background-color: $accent-dark-green;
        display: block;
        padding: 5px;
        margin: 5px;
        min-width: 200px;
        text-align: center;
        width: 80%;
    }

    input {
        background-color: $accent-dark-blue;
        border: none;
        display: block;
        padding: 5px;
        margin: 5px;
        min-width: 200px;
        text-align: center;
        width: 80%;
    }

    .errors {
        color: $super-red;
        cursor: text;
        display: block;
        text-align: center;
        width: 80%;
    }

    select {
        background-color: $accent-dark-blue;
        border: none;
        display: block;
        padding: 5px;
        margin: 5px;
        min-width: 200px;
        text-align: center;
        width: 80%;
    }

    button {
        background-color: $accent-dark-blue;
        border: none;
        border-radius: 5px;
        color: $super-white;
        display: block;
        font-size: 1.2rem;
        padding: 5px;
        margin: 10px;
        margin-left: 25%;
        margin-right: 25%;
        min-width: 200px;
        text-align: center;
        width: 100%;
    }

    .ql-toolbar {
        background-color: $super-white;
        margin-top: 10px;
        width: 80%;

        button {
            margin: 0px;
            min-width: 0px;
        }

        span {
            color: $super-black;

            .ql-picker-item {
                color: $accent-dark-blue;
            }
        }

        svg {
            background-color: $super-white;
        }

    }

    .ql-container {
        background-color: $super-white;
        color: $super-black;
        margin-bottom: 10px;
        width: 80%;
    }

    .array-container {
        border-radius: 2px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 5px;
        text-align: center;
        width: 80%;

        .array-item {
            width: 30%;
        }
    }

    .array-header {
        display: block;
        text-align: center;
        margin: 5px;
        width: 80%;
    }

    /* Class name has form-array.js dependency. */
    .enabled {
        background-color: $accent-blue
    }

    /* Class name has form-array.js dependency. */
    .disabled {
        background-color: $accent-dark-blue;
        opacity: 0.7;
    }

    .button-options {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 80%;

        button {
            margin: 5px;
            padding: 5px;
            width: 30%;
        }
    }

    #question-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 80%;

        label {
            border: 1px solid $super-white;
            width: calc(100% - 22px);
        }

        input {
            border: 1px solid $super-white;
            width: calc(100% - 22px);
        }

        button {
            border: 1px solid $super-white;
            margin-left: 5px;
            margin-right: 5px;
            width: calc(100% - 10px);
        }
    }

}