body {
    color: $super-white;
    background-color: $super-black;
    font-family: 'Josefin Sans';
    font-size: 1.1rem;
    max-width: 600px;
    margin: auto;
    margin-top: 20px;
}

a {
    text-decoration: none;
}

form {
    div {
        text-decoration: none;
        cursor:pointer;
    }
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px;

    .user-card{
        background-color: $accent-dark-green;
        padding: 5px;
        margin: 5px;
        min-width: 200px;
    
        .user-info {
            background-color: $accent-green;
            border-radius: 5px;
            color: $super-black;
            margin: 5px;
            padding: 5px;
            text-align: center;

            a {
                color: $super-black;
            }
        }

        .user-action {
            background-color: $accent-blue;
            border-radius: 5px;
            color: $super-black;
            margin: 5px;
            padding: 5px;
            text-align: center;
        }
    }
    
}

.admin-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px;

    label {
        background-color: $accent-dark-green;
        display: block;
        padding: 5px;
        margin: 5px;
        min-width: 200px;
        text-align: center;
        width: 30%;
    }

    input {
        background-color: $accent-dark-blue;
        border: none;
        display: block;
        padding: 5px;
        margin: 5px;
        min-width: 200px;
        text-align: center;
        width: 30%;
    }

    select {
        background-color: $accent-dark-blue;
        border: none;
        display: block;
        padding: 5px;
        margin: 5px;
        min-width: 200px;
        text-align: center;
        width: 30%;
    }

    button {
        background-color: $accent-dark-blue;
        border: none;
        border-radius: 5px;
        color: $super-white;
        display: block;
        font-size: 1.2rem;
        padding: 5px;
        margin: 10px;
        margin-left: 25%;
        margin-right: 25%;
        min-width: 200px;
        text-align: center;
        width: 100%;

    }
}