.app-container {
    background-image: url(/svg/stars-background-home.svg);
}

/* website left and right margins */
.content {
    background-color: $super-black;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

/* used purely for troubleshooting purposes */
.highlight {
    background-color: $accent-light-yellow;
}

/* styling for tables with dropdowns
 * NOTE: class names tied to tables.js, do not
 * change.
 * ***/
.item-table {
    display: grid;
    grid-template-columns: 70% 25% 5%;
    margin-left: auto;
    margin-right: auto;
    width: 90%;

    .col-title {
        color: $super-dark-red;
        font-style: italic;
        font-family: Lobster;
        padding: 5px;
    }

    .main-col {
        font-weight:  bold;
        padding: 15px;
        padding-left: 0px;
        margin-left: 5px;

    }
    
    .main-sub-col {
        font-weight: normal;
        padding: 15px;
        padding-left: 0px;
        margin-left: 5px;
    }

    .side-col {
        display: flex;
        flex-wrap: wrap;
        font-weight: bold;
        font-style: italic;
        padding: 15px;
        padding-left: 5px;

        span {
            background-color: $super-red;
            color: $super-white;
            display: block;
            font-weight: normal;
            font-style: normal;
            margin: 2px;
            padding: 2px;
            text-align: center;
            text-transform: uppercase;
        }

        .action-button {
            background-color: $accent-blue;
            border: none;
            border-radius: 3px;
            color: $super-white;
            cursor: pointer;
            display: block;
            font-size: 1.0rem;
            font-style: normal;
            font-weight: bold;
            margin: 2px;
            padding: 8px;
            padding-left: 12px;
            padding-right: 12px;
            text-align: center;
            text-transform: uppercase;
        }
    }

    .expand-col {
        cursor: pointer;
        font-size: 2em;
        font-weight: bold;
        padding-top: 5px;
        text-align: right;
        user-select: none;
    }

    .active-expand-col {
        transform: rotate(-45deg);
    }

    .row-bottom {
        border-bottom: 1px solid $accent-dark-green;
    }

    .hide-row {
        display: none;
    }

}

form {
    div {
        text-decoration: none;
        cursor:pointer;
    }
}


// OLD CSS - TO DELETE
.admin-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px;

    label {
        background-color: $accent-dark-green;
        display: block;
        padding: 5px;
        margin: 5px;
        min-width: 200px;
        text-align: center;
        width: 80%;
    }

    input {
        background-color: $accent-dark-blue;
        border: none;
        display: block;
        padding: 5px;
        margin: 5px;
        min-width: 200px;
        text-align: center;
        width: 80%;
    }

    .errors {
        color: $super-red;
        cursor: text;
        display: block;
        text-align: center;
        width: 80%;
    }

    select {
        background-color: $accent-dark-blue;
        border: none;
        display: block;
        padding: 5px;
        margin: 5px;
        min-width: 200px;
        text-align: center;
        width: 80%;
    }

    button {
        background-color: $accent-dark-blue;
        border: none;
        border-radius: 5px;
        color: $super-white;
        display: block;
        font-size: 1.2rem;
        padding: 5px;
        margin: 10px;
        margin-left: 25%;
        margin-right: 25%;
        min-width: 200px;
        text-align: center;
        width: 100%;
    }

    .ql-toolbar {
        background-color: $super-white;
        margin-top: 10px;
        width: 80%;

        button {
            margin: 0px;
            min-width: 0px;
        }

        span {
            color: $super-black;

            .ql-picker-item {
                color: $accent-dark-blue;
            }
        }

        svg {
            background-color: $super-white;
        }

    }

    .ql-container {
        background-color: $super-white;
        color: $super-black;
        margin-bottom: 10px;
        width: 80%;
    }

    .array-container {
        border-radius: 2px;
        display: flex;
        margin: 5px;
        text-align: center;
        width: 80%;
    }

    .array-header {
        display: block;
        text-align: center;
        margin: 5px;
        width: 80%;
    }

    .enabled {
        background-color: $accent-blue
    }

    .disabled {
        background-color: $accent-dark-blue;
        opacity: 0.7;
    }

}