.home-page-hero {
    position: absolute;
    left: 0;
    max-height: 650px;
    min-height: 400px;
    top: 0;
    width: 100%;
    z-index: 0;
}

.home-page-hero-options {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    max-height: 300px;
    min-height: 250px;
    padding-bottom: 20vw;
    position: relative;
    z-index: 5;    

    h1 {
        font-size: 3vw;
        font-weight: lighter;
        text-transform: uppercase;
    }
}

.rocket-canvas {
    background-image: url(/svg/rocket-planet-image.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: $super-white;
    padding-right: 25%;
    padding-bottom: 40%;

    .title {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 5px;
    }
    
    .sub-title {
        font-size: 1.5rem;
        font-weight: lighter;
        margin: 5px;
        text-transform: uppercase;
    }
    
    .text {
        background-color: #1A181880;
    }
}

.section-right {
    padding-top: 50px;
    top: 0;
    left: 0;
    padding-left: 20%;
    text-align: right;

    .title {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 5px;
    }
    
    .sub-title {
        font-size: 1.5rem;
        font-weight: lighter;
        margin: 5px;
        text-transform: uppercase;
    }
}
