@font-face {
  font-family: "Josefin Sans";
  src: url("/fonts/JosefinSans-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Lobster";
  src: url("/fonts/Lobster-Regular.ttf");
}
.header-logo {
  color: #F5E6C4;
  display: block;
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
}
.header-logo a {
  color: #F5E6C4;
}

.header-style {
  border-top: solid 5px #F5E6C4;
  border-bottom: solid 5px #F5E6C4;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

.header-item {
  color: #F5E6C4;
  border-left: solid 5px #F5E6C4;
  border-right: solid 5px #F5E6C4;
  margin: 5px;
  padding: 5px;
}

body {
  color: #F5E6C4;
  background-color: #1A1818;
  font-family: "Josefin Sans";
  font-size: 1.1rem;
  max-width: 600px;
  margin: auto;
  margin-top: 20px;
}

a {
  text-decoration: none;
}

form div {
  text-decoration: none;
  cursor: pointer;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5px;
}
.card-container .user-card {
  background-color: #598D7F;
  padding: 5px;
  margin: 5px;
  min-width: 200px;
}
.card-container .user-card .user-info {
  background-color: #66B29E;
  border-radius: 5px;
  color: #1A1818;
  margin: 5px;
  padding: 5px;
  text-align: center;
}
.card-container .user-card .user-info a {
  color: #1A1818;
}
