@font-face {
  font-family: "Josefin Sans";
  src: url("/fonts/JosefinSans-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Lobster";
  src: url("/fonts/Lobster-Regular.ttf");
}
body {
  color: #F5E6C4;
  background-color: #1A1818;
  font-family: "Josefin Sans";
  font-size: 1.1rem;
}

a {
  color: #F5E6C4;
  text-decoration: none;
  transition: 0.6s;
}

a:hover {
  color: #FA6464;
  text-decoration: none;
  transition: 0.6s;
}

/* search component */
.search-bar {
  display: flex;
  width: 100%;
}
.search-bar input {
  background: #F5E6C4;
  border: none;
  border-radius: 20px;
  padding-left: 10px;
  text-transform: uppercase;
  font-weight: bold;
}
.search-bar svg {
  margin-right: 10px;
  width: 20px;
}

/* system message component */
.system-message {
  background-color: #F03C3C;
  color: #F5E6C4;
  display: block;
  font-size: 1.5em;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.top-nav-container {
  display: flex;
  justify-content: space-between;
  min-width: 250px;
  margin: 10px;
  margin-bottom: 40px;
}
.top-nav-container .logo {
  border-radius: 50%;
  font-size: 1.5rem;
  margin-top: -70px;
  max-height: 160px;
  max-width: 260px;
  min-height: 135px;
  min-width: 240px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 70px;
  height: 20vw;
  width: 19vw;
  transition: 0.3s;
  z-index: 2;
}
.top-nav-container .logo a {
  color: #1A1818;
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
.top-nav-container .logo a h1 {
  margin: 0px;
}
.top-nav-container .logo .sub-title {
  font-weight: 260;
  text-align: center;
  text-transform: uppercase;
}
.top-nav-container .light-logo {
  background: #F5E6C4;
  color: #1A1818;
}
.top-nav-container .light-logo a {
  color: #1A1818;
}
.top-nav-container .dark-logo {
  background: #1A1818;
  color: #F5E6C4;
}
.top-nav-container .dark-logo a {
  color: #F5E6C4;
}
.top-nav-container .arrow-option {
  border: none;
  cursor: pointer;
  padding: 6px;
  height: 32px;
  width: 32px;
  z-index: 2;
}
.top-nav-container .light-arrow {
  filter: invert(0%);
}
.top-nav-container .dark-arrow {
  filter: invert(100%);
}

.menu-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  font-weight: 200;
  vertical-align: top;
  transition: 0.6s;
  z-index: 2;
}
.menu-icon div {
  background-color: #F5E6C4;
  display: block;
  height: 4px;
  margin: 3px;
  width: 30px;
}

.active-menu-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  font-weight: 200;
  vertical-align: top;
  transition: 0.6s;
  z-index: 2;
}
.active-menu-icon .top-bar {
  transform: rotate(-45deg) translate(-5px, 5px);
  transition: 0.6s;
}
.active-menu-icon .middle-bar {
  opacity: 0;
  transition: 0.6s;
}
.active-menu-icon .bottom-bar {
  transform: rotate(45deg) translate(-12px, -12px);
  transition: 0.6s;
}
.active-menu-icon div {
  background-color: #1A1818;
  display: block;
  height: 6px;
  margin: 3px;
  width: 30px;
  transition: 0.6s;
}

.menu-nav-container {
  background: #F5E6C4;
  display: flex;
  justify-content: space-around;
  left: 0;
  padding-top: 200px;
  position: absolute;
  top: 0;
  transition: 0.6s;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.menu-nav-container .link-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
.menu-nav-container .link-container a {
  color: #1A1818;
  font-size: 1.7rem;
  margin: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
  line-height: 0.4;
}
.menu-nav-container .link-container form {
  color: #1A1818;
  font-size: 1.7rem;
  margin: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
  line-height: 0.4;
}
.menu-nav-container .link-container .red-link {
  border-bottom: 5px solid #F03C3C;
}
.menu-nav-container .link-container .blue-link {
  border-bottom: 5px solid #6D80A9;
}
.menu-nav-container .svg-container {
  display: flex;
  width: 30%;
}
.menu-nav-container .svg-container svg {
  height: auto;
  width: 100%;
}

.menu-nav-hide {
  display: none;
}

/* website left and right margins */
.content {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/* used purely for troubleshooting purposes */
.highlight {
  background-color: #FFD9A8;
}

/* styling for tables with dropdowns
 * NOTE: class names tied to tables.js, do not
 * change.
 * ***/
.item-table {
  display: grid;
  grid-template-columns: 70% 25% 5%;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.item-table .col-title {
  color: #D52121;
  font-style: italic;
  font-family: Lobster;
  padding: 5px;
}
.item-table .main-col {
  font-weight: bold;
  padding: 15px;
  padding-left: 0px;
  margin-left: 5px;
}
.item-table .main-sub-col {
  font-weight: normal;
  padding: 15px;
  padding-left: 0px;
  margin-left: 5px;
}
.item-table .side-col {
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  font-style: italic;
  padding: 15px;
  padding-left: 5px;
}
.item-table .side-col span {
  background-color: #F03C3C;
  color: #F5E6C4;
  display: block;
  font-weight: normal;
  font-style: normal;
  margin: 2px;
  padding: 2px;
  text-align: center;
  text-transform: uppercase;
}
.item-table .side-col .action-button {
  background-color: #869AC6;
  border: none;
  border-radius: 3px;
  color: #F5E6C4;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  font-style: normal;
  font-weight: bold;
  margin: 2px;
  padding: 8px;
  padding-left: 12px;
  padding-right: 12px;
  text-align: center;
  text-transform: uppercase;
}
.item-table .expand-col {
  cursor: pointer;
  font-size: 2em;
  font-weight: bold;
  padding-top: 5px;
  text-align: right;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.item-table .active-expand-col {
  transform: rotate(-45deg);
}
.item-table .row-bottom {
  border-bottom: 1px solid #598D7F;
}
.item-table .hide-row {
  display: none;
}

form div {
  text-decoration: none;
  cursor: pointer;
}

.admin-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5px;
}
.admin-form label {
  background-color: #598D7F;
  display: block;
  padding: 5px;
  margin: 5px;
  min-width: 200px;
  text-align: center;
  width: 80%;
}
.admin-form input {
  background-color: #6D80A9;
  border: none;
  display: block;
  padding: 5px;
  margin: 5px;
  min-width: 200px;
  text-align: center;
  width: 80%;
}
.admin-form .errors {
  color: #F03C3C;
  cursor: text;
  display: block;
  text-align: center;
  width: 80%;
}
.admin-form select {
  background-color: #6D80A9;
  border: none;
  display: block;
  padding: 5px;
  margin: 5px;
  min-width: 200px;
  text-align: center;
  width: 80%;
}
.admin-form button {
  background-color: #6D80A9;
  border: none;
  border-radius: 5px;
  color: #F5E6C4;
  display: block;
  font-size: 1.2rem;
  padding: 5px;
  margin: 10px;
  margin-left: 25%;
  margin-right: 25%;
  min-width: 200px;
  text-align: center;
  width: 100%;
}
.admin-form .ql-toolbar {
  background-color: #F5E6C4;
  margin-top: 10px;
  width: 80%;
}
.admin-form .ql-toolbar button {
  margin: 0px;
  min-width: 0px;
}
.admin-form .ql-toolbar span {
  color: #1A1818;
}
.admin-form .ql-toolbar span .ql-picker-item {
  color: #6D80A9;
}
.admin-form .ql-toolbar svg {
  background-color: #F5E6C4;
}
.admin-form .ql-container {
  background-color: #F5E6C4;
  color: #1A1818;
  margin-bottom: 10px;
  width: 80%;
}
.admin-form .array-container {
  border-radius: 2px;
  display: flex;
  margin: 5px;
  text-align: center;
  width: 80%;
}
.admin-form .array-header {
  display: block;
  text-align: center;
  margin: 5px;
  width: 80%;
}
.admin-form .enabled {
  background-color: #869AC6;
}
.admin-form .disabled {
  background-color: #6D80A9;
  opacity: 0.7;
}

.home-page-hero {
  position: absolute;
  left: 0;
  max-height: 650px;
  min-height: 400px;
  top: 0;
  width: 100%;
}

.stars {
  max-height: 580px;
}

.home-page-hero-options {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  max-height: 300px;
  min-height: 250px;
  padding-bottom: 20vw;
}
.home-page-hero-options h1 {
  font-size: 3vw;
  font-weight: lighter;
  text-transform: uppercase;
}

.rocket-canvas {
  background-image: url(/svg/rocket-planet-image.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #F5E6C4;
  padding-right: 25%;
  padding-bottom: 40%;
}
.rocket-canvas .title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 5px;
}
.rocket-canvas .sub-title {
  font-size: 1.5rem;
  font-weight: lighter;
  margin: 5px;
  text-transform: uppercase;
}
.rocket-canvas .text {
  background-color: #1A181880;
}

.section-right {
  padding-top: 50px;
  top: 0;
  left: 0;
  padding-left: 20%;
  text-align: right;
}
.section-right .title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 5px;
}
.section-right .sub-title {
  font-size: 1.5rem;
  font-weight: lighter;
  margin: 5px;
  text-transform: uppercase;
}

.rainbow-border {
  background: linear-gradient(90deg, #869AC6 0% 25%, #F03C3C 25% 50%, #66B29E 50% 75%, #EEAA52 75%);
  background-size: 100px 25px;
  display: block;
  height: 25px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 80%;
}
.footer-container .link-container {
  color: #F5E6C4;
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  justify-content: space-around;
  margin: 10px;
  min-width: 150px;
  width: 35%;
}
.footer-container .link-container .red-link {
  border-bottom: 5px solid #F03C3C;
  display: block;
  font-size: 1.5rem;
  margin: auto;
  padding-top: 10px;
  width: 100%;
}
.footer-container .link-container .blue-link {
  border-bottom: 5px solid #6D80A9;
  margin: 5px;
  width: 45%;
}
.footer-container .seperator {
  min-width: 175px;
  width: 20%;
}

.info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 30px;
  width: 80%;
}
.info-container .info {
  color: #F5E6C4;
  font-style: italic;
  margin: 10px;
}
