.header-logo {
  font-size: 1.5rem;
}

.header-style {
  background-color: gray;
  border: 1px solid black;
}

body {
  color: #eee;
  background-color: #444;
  max-width: 600px;
  margin: auto;
  margin-top: 20px;
}

a {
  color: #ccf;
  text-decoration: none;
}
